/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 11em;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 5.4em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.15em;
}

img {
  width: 100%;
}

p {
  font-size: 1.1em;
}

ul {
  list-style: none;
}

.logo {
  width: 192px;
}

.container {
  width: 90%;
  max-width: 1220px;
  margin: 0 auto;
}

.divider-small {
  width: 57px;
  border-top: 1px solid lightgray;
}

.divider-big {
  width: 128px;
  border-top: 1px solid white;
}

/* BUTTONS */
.btn {
  border: 0;
  cursor: pointer;
}

.btn-small {
  font-size: 1.02em;
  padding: 9px 22px;
}

.btn-big {
  font-size: 1.12em;
  padding: 12px 26px;
}

.btn-border {
  border: 1px solid black;
}

.btn-blue {
  background-color: #0061ff;
  color: white;
}

.btn-blue:hover {
  background-color: #3c85ff;
}

.btn-white {
 background-color: white;
 color: black;
} 

.btn-white:hover {
  background-color: #f5f5f5;
}


/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header .topbar {
  display: flex;
  align-items: center;
}

header .topbar .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .topbar .menu nav > ul {
  display: flex;
  align-items: center;
}

header .topbar .menu nav ul li, 
header .logo {
  padding: 0 25px;
}

header .topbar .menu nav > ul > li > a {
  display: inline-block;
  height: 90px;
  line-height: 90px;
  font-size: 1.1em;
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

header .topbar .menu nav > ul > li:hover > a {
  border-bottom: 2px solid black;
}

/* DROPDOWN MENU */
header .topbar .menu nav .dropdown {
  position: relative;
  overflow: hidden;
}

header .topbar .menu nav .dropdown .dropdown-menu {
  position: absolute;
  top: 62px;
  left: 0;
  width: auto;
  opacity: 0;
  background-color: white;
  padding: 15px 0;
  transition: all 0s;
}

header .topbar .menu nav .dropdown .dropdown-menu li {
  padding-top: 10px;
  padding-bottom: 10px;
}

header .topbar .menu nav .dropdown .dropdown-menu li:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

header .topbar .menu nav .dropdown .dropdown-menu li a {
  font-size: 0.97em;
  color: black;
  white-space: nowrap;
  text-decoration: none;
}

header .topbar .menu nav .dropdown:hover .dropdown-menu {
  top: 90px;
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

header .topbar .menu nav .dropdown:hover {
  overflow: visible;
}


/* JUMBOTRON */
.jumbotron {
  background-color: #b4d0e7;
  min-height: calc(100vh - 91px);
  margin-top: 91px;
}

.jumbotron .jumbo-container {
  width: 90%;
  max-width: 1490px;
  margin: 0 auto;
}

.jumbotron .jumbo-container h1 {
  padding-top: 90px;
}

.jumbotron .jumbo-container .jumbo-content {
  display: flex;
}

.jumbotron .jumbo-container .jumbo-content .col-left {
  width: 35%;
  padding-top: 50px;
  padding-right: 72px;
}

.jumbotron .jumbo-container .jumbo-content .col-left p {
  margin-bottom: 35px;
}

.jumbotron .jumbo-container .jumbo-content .col-left span {
  display: block;
  font-size: 0.97em;
  margin-top: 12px;
  margin-bottom: 44px;
}

.jumbotron .jumbo-container .jumbo-content .col-left .arrow-down {
  font-size: 3em;
  color: black;
  margin-bottom: 60px;
}

.jumbotron .jumbo-container .jumbo-content .col-right {
  position: relative;
  width: 65%;
}

.jumbotron .jumbo-container .jumbo-content .col-right img {
  position: absolute;
  top: 50px; 
}


/* MAIN */
main {
  background-color: white;
}

/* PLANS SECTION */
main .plans:first-child h2 {
  margin-top: 222px;
  margin-bottom: 66px;
}

main .plans label {
  font-size: 1.2em;
  margin-right: 22px;
  margin-bottom: 44px;
}

main .plans .plan-cols-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

main .plans .plan-col {
  width: 30%;
  min-width: 245px;
  min-height: 1200px;
  border: 1px solid lightgray;
}

main .plans .plan-header {
  text-align: center;
  font-size: 1.2em;
  border-bottom: 1px solid lightgray;
  padding: 11px;
}

main .plans .plan-content {
  padding: 35px;
}

main .plans .plan-content .price {
  display: block;
  font-size: 1.12em;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 12px;
}

main .plans .plan-content .payment {
  font-size: 0.97em;
  color: gray;
}

main .plans .plan-content ul {
  margin: 56px 0;
}

main .plans .plan-content ul li {
  display: flex;
  align-items: baseline;
  font-size: 0.97em;
  margin-bottom: 28px;
}

main .plans .plan-content ul li i {
  margin-right: 5px;
}

main .plans .plan-content .btn {
  width: 100%;
}

main .plans .plan-content .purchase {
  display: block;
  font-size: 0.97em;
  margin-top: 33px;
}

main .plans .plan-content .purchase a {
  color: #00a2ff;
}

main .plans .plan-content .divider-small {
  margin-top: 33px;
  margin-bottom: 45px;
}

main .plans .plan-content ul:last-of-type {
  margin: 29px 0;
}

main .plans .plan-content ul:last-of-type li i {
  color: #00a2ff;
}

main .plans .plan-row {
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 59px;
}

main .plans .plan-row .plan-content {
  display: flex;
}

main .plans .plan-row .plan-content .plan-row-left {
  width: 70%;
}

main .plans .plan-row .plan-content .plan-row-right {
  width: 30%;
}

main .plans .plan-row .plan-content h6 {
  margin-top: 15px;
  margin-bottom: 35px;
}

main .plans .plan-row .plan-content span {
  font-size: 0.97em;
}

/* PARTNER SECTION */
main .partner {
  display: flex;
  margin-top: 170px;
  margin-bottom: 114px;
}

main .partner .partner-left {
  width: 55%;
}

main .partner .partner-right {
  width: 45%;
  padding-top: 46px;
  padding-left: 57px;
}

main .partner .partner-right p {
  line-height: 1.8em;
  margin: 28px 0;
}

/* FEATURES SECTION */
main .features .feature-cards-container  {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 57px;
}

main .features .feature-card {
  width: 29%;
  min-width: 245px;
  margin-bottom: 85px;
}

main .features .feature-card-txt p {
  margin: 28px 0;
}

main .features .feature-card-txt p a {
  color: black;
}

/* TEAMS SECTION */
main .teams .container {
  padding-top: 112px;
  padding-bottom: 58px;
}

main .teams .container a {
  display: inline-block;
  font-size: 1.1em;
  color: #00a2ff;
  margin-top: 36px;
}

main .teams .team-container {
  display: flex;
  justify-content: space-between;
}

main .teams .team-left , main .teams .team-right {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 30vw;
}

main .teams .team-center {
  background-color: #F5F5F5;
  width: 40vw;
  height: 30vw;
  overflow-y: auto;
  padding: 56px;
}

main .teams .team-center .team-header img{
  width: 164px;
}

main .teams .team-center .divider-small {
  margin-top: 34px;
}

main .teams .team-center .team-txt p {
  margin: 58px 0;
}

main .teams .team-center .team-txt .credits {
  font-size: 0.97em;
}

main .teams .team-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  padding: 66px;
}

main .teams .team-logo:hover {
  border: 0.5vw solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

main .teams .team-logo.active {
  border: 0.5vw solid rgba(255, 255, 255, 0.5);
}

main .teams .team-logo img {
  filter: invert(1);
  min-width: 80px;
}

/* TEAM LOGO COLORS */
main .teams .team-logo.team-designit {
  background-color: #A2D39B;
}

main .teams .team-logo.team-asu {
  background-color: #61082C;
}

main .teams .team-logo.team-uf {
  background-color: #1D93CE;
}

main .teams .team-logo.team-topps {
  background-color: #F91C1D;
}

main .teams .team-logo.team-wbf {
  background-color: #D5021F;
}

main .teams .team-logo.team-hc {
  background-color: #B4D0E7;
}

main .teams .team-logo.team-lp {
  background-color: #0D2481;
}

main .teams .team-logo.team-cco {
  background-color: #FED830;
}

/* FREE TRIAL SECTION */
main .free-trial {
  background-color: #B4D0E7;
}

main .free-trial .container {
  display: flex;
  padding: 140px 0;
}

main .free-trial .container .free-trial-left {
  color: #61082C;
  width: 70%;
}

main .free-trial .container .free-trial-right {
  width: 30%;
}

main .free-trial .container .free-trial-right .btn {
  width: 100%;
} 

/* FAQ SECTION */
main .faq {
  padding: 138px 0;
}

main .faq div:first-of-type:not(.question) {
  border-bottom: 1px solid lightgray;
  padding-bottom: 54px;
}

main .faq .faq-row {
  border-bottom: 1px solid lightgray;
  padding: 38px 0;
}

main .faq .faq-row .question {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-right: 44px;
} 

main .faq .faq-row .question .chevron:after{
  content: '\f078';
  font-family: FontAwesome;
  font-size: 1.1em;
}

main .faq .faq-row .answer {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding-right: 260px;
  transition: all 0s;
}

main .faq .faq-row .answer p {
  font-size: 0.97em;
  color: gray;
}

main .faq .faq-row .answer p a {
  color: gray;
}

main .faq .faq-row:hover .answer {
  height: auto;
  opacity: 1;
  overflow: visible;
  margin-top: 24px;
  transition: all 0.5s;
}

main .faq .faq-row:hover .question .chevron:after {
  content: '\f077';
}


/* FOOTER */
footer {
  background-color: black;
  color: white;
}

footer .footer-container {
  width: 90%;
  max-width: 1520px;
  margin: 0 auto;
}

footer .footer-container .footer-col-container {
  display: flex;
  padding-top: 110px;
}

footer .footer-container .footer-col-container .footer-col {
  width: 20%;
}

footer .footer-container .footer-col-container .footer-col h5 {
  margin-bottom: 24px;
}

footer .footer-container .footer-col-container .footer-col ul li {
  margin-bottom: 10px;
}

footer .footer-container .footer-col-container .footer-col ul li a {
  font-size: 0.97em;
  color: white;
  text-decoration: none;
}

footer .footer-container .footer-col-container .footer-col ul li a:hover {
  text-decoration: underline;
}

footer .footer-container .divider-big {
  margin-top: 110px;
}

footer .footer-container .language {
  color: gray;
  padding: 50px 0;
}

footer .footer-container .language span {
  font-size: 0.85em;
}

footer .footer-container .language span:after {
  content: '\f0d8';
  font-family: FontAwesome;
}



/* MENU A TENDINA LANGUAGE */
