/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 5.4em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.15em;
}

img {
  width: 100%;
}

a {
  font-size: 1.1em;
  text-decoration: none;
}

p {
  font-size: 1.1em;
  margin-bottom: 35px;
}

ul {
  list-style: none;
}

.logo {
  width: 190px;
}

.container {
  width: 90%;
  max-width: 1220px;
  margin: 0 auto;
}

/* BUTTONS */
.btn {
  border: 0;
  cursor: pointer;
}

.btn-small {
  font-size: 1.02em;
  padding: 9px 21px;
}

.btn-big {
  font-size: 1.12em;
  padding: 12px 26px;
}

.btn-border {
  border: 1px solid black;
}

.btn-blue {
  background-color: #0061ff;
  color: white;
}

.btn-blue:hover {
  background-color: #3c85ff;
}

.btn-white {
 background-color: white;
 color: black;
} 

.btn-white:hover {
  background-color: #f5f5f5;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

header .topbar {
  display: flex;
  align-items: center;
}

header .topbar .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header .topbar .menu nav ul {
  display: flex;
  align-items: center;
}

header .topbar .menu nav ul li, 
header .logo {
  padding: 0 25px;
}

header .topbar .menu nav ul li a {
  display: inline-block;
  height: 90px;
  line-height: 90px;
  color: black;
  white-space: nowrap;
}

header .topbar .menu nav ul li a:hover {
  border-bottom: 2px solid black;
}

/* JUMBOTRON */
.jumbotron {
  background-color: #b4d0e7;
  min-height: calc(100vh - 91px);
  margin-top: 91px;
}

.jumbotron .jumbo-container {
  width: 90%;
  max-width: 1490px;
  margin: 0 auto;
}

.jumbotron .jumbo-container h1 {
  padding-top: 90px;
}

.jumbotron .jumbo-container .jumbo-content {
  display: flex;
}

.jumbotron .jumbo-container .jumbo-content .col-left {
  width: 35%;
  padding-top: 50px;
  padding-right: 72px;
}

.jumbotron .jumbo-container .jumbo-content .col-left span {
  display: block;
  font-size: 0.97em;
  margin-top: 12px;
  margin-bottom: 44px;
}

.jumbotron .jumbo-container .jumbo-content .col-left .arrow-down {
  font-size: 3em;
  color: black;
  margin-bottom: 60px;
}

.jumbotron .jumbo-container .jumbo-content .col-right {
  position: relative;
  width: 65%;
}

.jumbotron .jumbo-container .jumbo-content .col-right img {
  position: absolute;
  top: 50px; 
}

/* MAIN */
main {
  background-color: white;
  height: 500px;
}

/* PLANS SECTION */
main .plans:first-child h2 {
  margin-top: 222px;
  margin-bottom: 66px;
}

main .plans label {
  font-size: 1.2em;
  margin-right: 22px;
  margin-bottom: 44px;
}

main .plans .plan-col-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

main .plans .plan-col {
  width: 30%;
  min-width: 245px;
  min-height: 1200px;
  border: 1px solid lightgray;
}

main .plans .plan-header {
  text-align: center;
  font-size: 1.2em;
  border-bottom: 1px solid lightgray;
  padding: 11px;
}

main .plans .plan-content {
  padding: 35px;
}

main .plans .plan-content .price {
  display: block;
  font-size: 1.12em;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 12px;
}

main .plans .plan-content .payment {
  font-size: 0.97em;
  color: gray;
}

main .plans .plan-content ul {
  margin: 56px 0;
}

main .plans .plan-content ul li {
  display: flex;
  align-items: baseline;
  font-size: 0.97em;
  margin-bottom: 28px;
}

main .plans .plan-content ul li i {
  margin-right: 5px;
}

main .plans .plan-content button {
  width: 100%;
}

main .plans .plan-content .purchase {
  display: block;
  font-size: 0.97em;
  margin: 33px 0;
}

main .plans .plan-content .purchase a {
  color: #00a2ff;
  text-decoration: underline;
}

main .plans .plan-content .segment {
  width: 57px;
  height: 46px;
  border-top: 1px solid lightgray;
}

main .plans .plan-content ul:last-of-type {
  margin: 29px 0;
}

main .plans .plan-content ul:last-of-type li i {
  color: #00a2ff;
}

main .plans .plan-row {
  width: 100%;
  border: 1px solid lightgray;
  margin-top: 59px;
}

main .plans .plan-row .plan-content {
  display: flex;
}

main .plans .plan-row .plan-content .plan-row-left {
  width: 70%;
}

main .plans .plan-row .plan-content .plan-row-right {
  width: 30%;
}

main .plans .plan-row .plan-content h4 {
  margin-top: 15px;
  margin-bottom: 35px;
}

main .plans .plan-row .plan-content span {
  font-size: 0.97em;
}

/* PARTNER SECTION */
main .partner {
  display: flex;
  margin-top: 170px;
}

main .partner .partner-left {
  width: 55%;
}

main .partner .partner-right {
  width: 45%;
  padding-top: 46px;
  padding-left: 57px;
}

main .partner .partner-right p {
  line-height: 1.8em;
  margin: 28px 0;
}


/* METTERE ANCORA ALLA FRECCIA IN GIU */
/* RIVEDERE COMPORTAMENTO IMG JUMBOTRON */
